## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import gettext as _
from django.conf import settings

from datetime import datetime
import pytz

from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
from openedx.core.djangolib.markup import HTML, Text

from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
%
logo_url = configuration_helpers.get_config_value('LOGO_TRADEMARK_URL', settings.LOGO_TRADEMARK_URL)
platform_name = configuration_helpers.get_config_value('PLATFORM_NAME', settings.PLATFORM_NAME)
%

<div class="wrapper wrapper-footer">
    <footer class="footer border-top py-3 px-4" role="contentinfo">
    <div class="container-fluid d-flex">

        <a class="d-block" href="/">
            <img src="${logo_url}"
                 alt="${platform_name}"
                 style="max-height:45px;">
        </a>

        <div class="flex-grow-1"
             style="display:flex;justify-content:flex-end;">
            <a href="https://open.edx.org"
               class="edx-tag"
               target="_blank"
               rel="noopener">
                <img src="https://logos.openedx.org/open-edx-logo-tag.png"
                     alt="Powered by Open edX"
                     width="175">
            </a>
        </div>

    </div>

    <p style="margin-bottom:0;font-size:14px;">
        &copy; ${platform_name}. All rights reserved except where noted.
        edX, Open edX, and their respective logos are registered trademarks of edX Inc.
    </p>
</footer>
</div>
