<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>AI for Business Registration Confirmation</title>
    </head>

    <body style="font-family: Arial, Helvetica, sans-serif; color: #333333; line-height: 1.6">
        <p>Hi ${first_name},</p>

        <p>Congratulations! Your registration for <strong>AI for Business</strong> has been received.</p>

        <p>
            Delivered by
            <strong>Carnegie Mellon University’s Tepper Executive Education and School of Computer Science</strong>,
            this program is designed to help you build practical AI fluency and understand how AI can drive smarter
            strategy, innovation, and decision-making.
        </p>

        <p>
            You are about to learn from a distinguished bench of Carnegie Mellon faculty and experts from one of the
            world’s leading institutions in artificial intelligence, analytics, and business education.
        </p>

        <p>To get started, you can log in using the credentials below:</p>

        <table cellpadding="8" cellspacing="0" border="0">
            <tr>
                <td><strong>URL:</strong></td>
                <td>
                    <a href="${lms_root_url}"> ${lms_root_url} </a>
                </td>
            </tr>

            <tr>
                <td><strong>Email:</strong></td>
                <td>${email}</td>
            </tr>

            <tr>
                <td><strong>Password:</strong></td>
                <td>${password}</td>
            </tr>
        </table>

        <p>
            <strong>Note:</strong>
            Sharing of credentials is strictly prohibited. Any unauthorized disclosure or misuse may lead to suspension
            of access and/or disciplinary action.
        </p>

        <p>For security purposes, we strongly recommend resetting your password after your first login.</p>

        <p>
            On your first login, you will be prompted to accept the <strong>Program Terms and Conditions</strong> before accessing your
            account.
        </p>

        <p>
            We are delighted to have you as a participant in the <strong>AI for Business</strong> program and look
            forward to supporting your journey.
        </p>

        <p>
            If you have any questions or experience any issues accessing the program, please contact our support team at
            <a href="mailto:${support_email}"> ${support_email}</a>.
        </p>


        <p>
            Thanks,<br />
            Support Team<br />
            TalentSprint
        </p>
    </body>
</html>
