## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
  from django.conf import settings
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>
<%
mfe_config = configuration_helpers.get_value('MFE_CONFIG', settings.MFE_CONFIG)
logo_url = mfe_config.get('LOGO_TRADEMARK_URL')
platform_name = configuration_helpers.get_value('PLATFORM_NAME', settings.PLATFORM_NAME)
%>
  <div class="container-fluid wrapper-footer">
     <footer class="footer border-top py-3 px-4" role="contentinfo">
    <div class="container-fluid d-flex">

        <a class="d-block" href="/">
            <img src="${logo_url}"
                 alt="${platform_name}"
                 style="max-height:45px;">
        </a>

        <div class="flex-grow-1"
             style="display:flex;justify-content:flex-end; flex-grow:1;">
            <a href="https://open.edx.org"
               class="edx-tag"
               target="_blank"
               rel="noopener">
                <img src="https://logos.openedx.org/open-edx-logo-tag.png"
                     alt="Powered by Open edX"
                     width="175">
            </a>
        </div>

    </div>

    <p style="margin-bottom:0;font-size:14px;">
        &copy; ${platform_name}. All rights reserved except where noted.
        edX, Open edX, and their respective logos are registered trademarks of edX Inc.
    </p>
</footer>
  </div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
